*{
    margin:0;
    padding: 0;
 box-sizing: border-box;
}
body{
    background-color: cornflowerblue;
}
.container{
    width: 80%;
    margin: 80px auto;
  
   
}
.container h1{
    padding: 60px 0;
    color: white;
    font-size: 44px;
    text-align: center;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.col{
    flex-basis: 50%;
    min-width: 250px;
}
.featureImg{
    width: 83%;
    margin: auto;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}
.smallImgRow{
    display: flex;
    background: #efefef;
    margin: 20px 0;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 85%;
    height: 100px;
}
.smallImg{
    position: relative;
    display: flex;
align-items: center;
  
}
.image{
    margin: auto;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
 
}
.smallImg img{
    width: 150px;
    height: 104px;;
}
.smallImgRow p{
    margin-left: 20px;
    color: black;
    line-height: 22px;
    font-size:15px ;
}
.playBtn{
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
   
}
.smallImg .playBtn{
    width: 35px;
}
.videoPlayer{
   width: 80%;
  margin-left: 45px;
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    display: none;
}
.closeBtn{
    position:absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    cursor: pointer;
}